* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-bottom: 80px;
    margin-top: 50px;
}

h1 {
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 15px;
  line-height: 65px;
  margin-bottom: 30px;
}

span {
    font-weight:300;
    font-family: 'Josefin Sans', sans-serif;
    color : rgba(209,173,172,255);
}

p {
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
    margin-bottom: 40px;
    color : rgba(209,173,172,255);
}

.email {
    width: 440px;
    height: 50px;
    border-radius: 25px;
    padding: 20px 0px 20px 30px;
    border: 1px solid gray;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

button {
    width: 90px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, rgba(246,177,179,255), rgba(242,151,151,255));
    position: fixed;
    top: 600px;
    left: 500px;
}

.brand-description {
    width: 60%;
    height: 100vh;
    padding: 40px 320px 0px 150px;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.hero-image {
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(images/hero-desktop.jpg);
}

.container {
    display: flex;
}